extends layout

block content
	.container
		.row
			.col-lg-8.chat-page
				#chat
					ul.messages
				#chat-text-box
					input(type="text" placeholder="Digite sua mensagem")#inputMessage.form-control
					
			.col-lg-4.login.page
				label(for="nome") Alterar Nome
				input(type="text" placeholder="Informe seu novo nome")#usernameInput.form-control
								
				hr
				
				h2 Updates
				ul.updates